grids:
    # grid name, I just recommends to add the min resolution because it's common to not generate all the layers at the same resolution.
    21781:
        # resolutions [required]
        resolutions: [1000, 500, 250, 100, 50, 20, 10, 5, 2, 1, 0.5]
        #resolutions: [1000, 500, 250, 100, 50, 20, 10, 5, 2, 1, 0.5, 0.25, 0.1, 0.05, 0.25]
        # bbox [required]
        bbox: [420000, 30000, 900000, 350000]
        # srs [required]
        srs: epsg:21781

    2056:
        # resolutions [required]
        resolutions: [1000, 500, 250, 100, 50, 20, 10, 5, 2, 1, 0.5]
        # bbox [required]
        bbox: [2420000, 1030000, 2900000, 1350000]
        # srs [required]
        srs: epsg:2056

caches:
    local:
        type: bsddb
        folder: /var/sig/tilecache
        # for GetCapabilities
        http_url: http://192.168.1.59/tiles/tiles/

# this defines some defaults values for all the layers
layer_default:
    type: mapnik
    output_format: png
    extension: png
    mime_type: image/png
    wmts_style: default
#    min_resolution_seed: 1
#    wms_url: http://localhost/osm/wms
    # the WMTS dimensions definition [default to []]
#    dimensions:
#        -   name: DATE
#            # the default value for the WMTS capabilities
#            default: 2012
#            # the generated value
#            value: 2012
#            # all the available values in the WMTS capabilities
#            values: [2012]
    meta: on
    meta_size: 4
    meta_buffer: 0
    data_buffer: 128
    # Meta 2
    empty_metatile_detection:
        size: 2200
        hash: 87747b684b6c2255ed1ddb68a16095bcbcc2f2d8
    empty_tile_detection:
        size: 858
        hash: fb3615767f26711bd55f0654feaeeb7c039576af
{%
if update %}
    connection: user=www-data password=www-data dbname=tiles host=localhost
    geoms:
    - sql: geom FROM update{%
endif %}

layers:
    hot_21781:
        mapfile: hotosm/mapnik.xml
        grid: 21781
    hot_2056:
        mapfile: hotosm/mapnik.xml
        grid: 2056
    osm_21781:
        mapfile: osm/mapnik.xml
        grid: 21781
    osm_2056:
        mapfile: osm/mapnik.xml
        grid: 2056
    mapbox_bright_21781:
        mapfile: OSMBright/mapnik.xml
        grid: 21781
    mapbox_bright_2056:
        mapfile: OSMBright/mapnik.xml
        grid: 2056
    mapbox_streets_21781:
        mapfile: mapbox-streets/open-streets/mapnik.xml
        grid: 21781
    mapbox_streets_2056:
        mapfile: mapbox-streets/open-streets/mapnik.xml
        grid: 2056

generation:
    default_cache: local
    authorised_user: www-data

mapcache:
    location: /mapcache

server:
    cache: local

openlayers:
    # srs, center_x, center_y [required]
    srs: epsg:2056
    center_x: 2600000
    center_y: 1200000
