[submodule "hotosm"]
	path = hotosm
	url = git@github.com:hotosm/HDM-CartoCSS.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:mapbox/foss4g-benchmark-style.git
[submodule "tm2"]
	path = tm2
	url = git@github.com:mapbox/tm2-default-style.git
[submodule "mapbox"]
	path = mapbox
	url = git@github.com:mapbox/map-styles.git
[submodule "mapbox-streets"]
	path = mapbox-streets
	url = git@github.com:mapbox/open-streets-style.git
[submodule "mapbox-bright"]
	path = mapbox-bright
	url = git@github.com:mapbox/osm-bright.git
[submodule "osm"]
	path = osm
	url = git@github.com:gravitystorm/openstreetmap-carto.git
[submodule "OGCServer"]
	path = OGCServer
	url = git@github.com:sbrunner/OGCServer.git
