[submodule "hotosm"]
	path = hotosm
	url = git@github.com:hotosm/HDM-CartoCSS.git
[submodule "mapbox-streets"]
	path = mapbox-streets
	url = git@github.com:mapbox/open-streets-style.git
[submodule "mapbox-bright"]
	path = mapbox-bright
	url = git@github.com:mapbox/osm-bright.git
[submodule "osm"]
	path = osm
	url = git@github.com:gravitystorm/openstreetmap-carto.git
[submodule "OGCServer"]
	path = OGCServer
	url = git@github.com:sbrunner/OGCServer.git
